
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-info navbar-dark">
        <img src="/images/bmw.png" href="/" alt="car">
        <a class="navbar-brand" href="/"></a>
        <div class="navbar">
            <div class="navbar-nav navbar">
                <a class="nav-link active" href="/">
                    Home <span class="sr-only">(current)</span>
                </a>
                <a class="nav-link" href="#"> Search BMW Record </a>
                <a class="nav-link" href="/d"> List BMW Records </a>
                <a class="nav-link" href="/s"> Create BMW Records </a>

                
            </div>
        </div>
    </nav>
</header>